.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card {
	width: 20%;
	-webkit-transition: -webkit-box-shadow 0.25s;
	transition: -webkit-box-shadow 0.25s;
	transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
  
}
.card:hover {
	-webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
		0 6px 20px 0 rgba(0, 0, 0, 0.19);
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
	-webkit-transition: -webkit-box-shadow 0.25s;
	transition: -webkit-box-shadow 0.25s;
	transition: box-shadow 0.25s;
	transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
}
hr {
	border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
}
.devider {
	height: 1px !important;
	background-color: rgba(0, 0, 0, 0.12) !important;
}

.card-padding-zero.card-body {
	/* flex: 1 1 auto;
  min-height: 0 !important; */
	padding: 0 !important;
}
.card-padding-zero.card-body td {
	padding: 20px 25px;
}
.card-padding-zero table {
	margin-bottom: 0 !important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#home-mid-mid{
text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li {
  float: left;
}

li a {
  display: block;
  color: #2f78b7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  background-color: #ddd;
}




